#company {
  h3 {
    color: #607D8B;
  }
}

.payment-requisites {
  font-size: 14px;

  .footer {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    padding: 10px 20px;
    background: #ECEFF1;
  }
}
