#company {
  h3 {
    color: #607D8B;
  }

  table {
    tr {
      th {
        font-weight: normal;
        color: #757575;
      }
      &:first-of-type {
        th {
          border-top:  none;
        }
        td {
          &:first-of-type {
            border-top: none;
          }
        }
      }
    }
  }
}

.payment-requisites {
  font-size: 14px;

  .footer {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    padding: 10px 20px;
    background: #ECEFF1;
  }
}
