.tabs-container {
  display: flex;
  flex-direction: column;

  .tabs-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .tab-label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: auto;
      height: 50px;
      background: #F5F5F5;
      cursor: pointer;
      border-bottom: 3px solid transparent;

      &:hover {
        background: #EEEEEE;
      }

      &.active {
        border-bottom: 3px solid cornflowerblue;
      }
    }
  }
}


.compare-report-table {
  thead tr {
    font-size: 14px;
    color: #607D8B;
    border: none;

    .index {
      width: 50px;
    }
    .controls {
      width: 200px;
    }
  }
  tbody tr {
    background: white;
    border-bottom: 1px solid #ECEFF1;
  }
}


.filters-column {
  overflow: auto;
  font-size: 14px;
  background: #ECEFF1;
}
