.restaurants-table {
  thead tr {
    font-size: 14px;
    color: #607D8B;

    .index {
      width: 50px;
    }
    .controls {
      width: 200px;
    }
  }
  tbody tr {
    background: white;
    border-bottom: 1px solid #ECEFF1;
  }
}


.social-networks {
  .el-form-item {
    width: 95%;
    .el-form-item__content {
      width: 100%;
    }
  }
}
