<div id="survey" class="container-fluid h-100">
  <div class="row h-100">
    <!-- Start: Surveys list -->
    <div class="col-12 col-lg-8 p-4 d-flex flex-column align-items-center">
      <h3 class="mb-4 w-100 d-flex justify-content-between">
        {{ surveysService.selectedSurvey() ? surveysService.selectedSurvey().title : '' }}
        <el-button type="primary" icon="edit" (click)="openEditSurveyDialog()">&nbsp; Изменить</el-button>
      </h3>

      <table class="table table-sm mt-4">
        <tbody>
        <tr>
          <th scope="row">Наименование</th>
          <td>{{ surveysService.selectedSurvey().title }}</td>
        </tr>
        <tr>
          <th scope="row">Описание</th>
          <td>
            <span *ngIf="surveysService.selectedSurvey().description">{{ surveysService.selectedSurvey().description }}</span>
            <span *ngIf="!surveysService.selectedSurvey().description" class="text-muted">Не указано</span>
          </td>
        </tr>
        <tr>
          <th scope="row">Дата начала</th>
          <td>{{ surveysService.selectedSurvey().start | date: 'dd.MM.yyyy' }}</td>
        </tr>
        <tr>
          <th scope="row">Дата окончания</th>
          <td>
            <span *ngIf="surveysService.selectedSurvey().end">{{ surveysService.selectedSurvey().end | date: 'dd.MM.yyyy' }}</span>
            <span *ngIf="!surveysService.selectedSurvey().end" class="text-muted">Не указана</span>
          </td>
        </tr>
        <tr>
          <th scope="row">Вознаграждение</th>
          <td>
            {{ rewardsService.getRewardById(surveysService.selectedSurvey().rewardId).title }}
          </td>
        </tr>
        <tr>
          <th scope="row">Всего прохождений</th>
          <td>
            {{ surveysService.selectedSurvey().passingCount }}
          </td>
        </tr>
        <tr>
          <th scope="row">Доступно прохождений</th>
          <td>
            {{ surveysService.selectedSurvey().passingCount - surveysService.selectedSurvey().passedCount }}
          </td>
        </tr>
        <tr>
          <th scope="row">Когда спрашивать контакты</th>
          <td>
            <span *ngIf="surveysService.selectedSurvey().end">{{ surveysService.selectedSurvey().end | date: 'dd.MM.yyyy' }}</span>
            <span *ngIf="!surveysService.selectedSurvey().end" class="text-muted">Не указана</span>
          </td>
        </tr>
        <tr>
          <th scope="row">Рестораны</th>
          <td>
            <div *ngFor="let restaurant of surveysService.selectedSurvey().restaurants">
              {{restaurant.title }}
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Является шаблоном</th>
          <td>
            {{ surveysService.selectedSurvey().isTemplate ? 'Да' : 'Нет' }}
          </td>
        </tr>
        <tr>
          <th scope="row">Состояние</th>
          <td>
            {{ surveysService.selectedSurvey().isActive ? 'Активен' : 'Неактивен' }}
          </td>
        </tr>
        <tr>
          <td></td>
          <td class="pt-4">
            <div el-row gutter="20">
              <!--
              <div el-col span="12" class="text-left">
                <el-button type="warning" class="w-100">Сгенерировать коды</el-button>
              </div>
              -->
              <div el-col span="24" class="text-right">
                <div *ngIf="surveysService.selectedSurvey().isActive === false">
                  <el-button type="success"
                             class="w-100"
                             (click)="setSurveyStatus(true)"
                             [elDisabled]="surveysService.settingSurveyStatusInProgress()">
                    Запустить опрос
                  </el-button>
                </div>
                <div *ngIf="surveysService.selectedSurvey().isActive === true">
                  <el-button type="danger"
                             class="w-100"
                             (click)="setSurveyStatus(false)"
                             [elDisabled]="surveysService.settingSurveyStatusInProgress()">
                    Остановить опрос
                  </el-button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- End: Surveys list -->

    <!-- Start: Questions -->
    <div class="questions col-12 col-lg-4 p-4 border-left">

      <!-- Start: Header -->
      <h3 class="mb-4 d-flex justify-content-between">
        Вопросы
        <el-button type="primary" icon="plus" (click)="openAddQuestionDialog()">&nbsp; Добавить</el-button>
      </h3>
      <!-- End: Header -->

      <!-- Start: No requisites placeholder -->
      <div *ngIf="surveysService.selectedSurvey().questions.length === 0">
        <p class="text-muted text-center mt-4 pt-4">Вопросы отсутствуют</p>
      </div>
      <!-- End: No requisites placeholder -->

      <!-- Start: Questions-->
      <div class="container-fluid pl-0 pr-0">
        <div class="row mt-4">
          <div class="col-12 mb-3" *ngFor="let question of surveysService.selectedSurvey().questions; let i = index;">
            <el-card>
              <ng-template #header>
                <div class="clearfix">
                  <span style="line-height: 36px;" class="text-muted">
                    <strong>{{(i + 1) + '. ' +  question.title }}</strong>
                  </span>
                </div>
              </ng-template>
              <div class="text item">

                <div *ngIf="question.form.type === 'checkbox'">
                  <div *ngFor="let answer of question.answers">
                    <el-checkbox>{{ answer.content }}</el-checkbox>
                  </div>
                </div>

                <div *ngIf="question.form.type === 'radio_button'">
                  <el-radio-group [model]="'fdsfs'">
                    <div *ngFor="let answer of question.answers">
                      <el-radio [label]="answer.content" class="d-block">
                        {{ answer.content }}
                        <span class="text-muted" *ngIf="answer.weight">&nbsp;Вес: {{answer.weight}}</span>
                      </el-radio>
                    </div>
                  </el-radio-group>
                </div>

                <div *ngIf="question.form.type === 'mark'">
                  <el-slider [min]="question.range.min" [max]="question.range.max"></el-slider>
                </div>

                <div class="footer">
                  <div class="container-fluid p-0">
                    <div class="row no-gutters">
                      <div class="col-4 text-muted">
                        Вес вопроса: {{ question.weight }}
                      </div>
                      <div class="col-4">
                        <el-button type="success"
                                   size="small"
                                   icon="edit"
                                   class="w-100 mr-2"
                                   (click)="openEditQuestionDialog(question)">
                          &nbsp; Изменить
                        </el-button>
                      </div>
                      <div class="col-4">
                        <el-button type="danger"
                                   size="small"
                                   icon="delete"
                                   class="w-100 ml-2"
                                   (click)="openDeleteQuestionDialog(question)">
                          &nbsp; Удалить
                        </el-button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </el-card>
          </div>
        </div>
      </div>

      <!-- End: Requisites -->
    </div>
    <!-- End: Payment requisites -->

  </div>
</div>


<!-- Start: Edit survey dialog -->
<el-dialog [(visible)]="isInEditSurveyMode" [width]="'580px'">
  <ng-template #title>
    <span class="el-icon-edit"></span>&nbsp;
    <span>Изменение опроса</span>
  </ng-template>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h4 class="text-muted mb-3">Информация об опросе</h4>

        <el-form [formGroup]="surveyForm"
                 label-width="170px"
                 [label-position]="'left'"
                 size="small"
                 [show-icon]="true"
                 [show-message]="true">

          <!-- Start: Name -->
          <el-form-item label="Наименование"
                        [required]="true"
                        [status]="surveyFormStatusCtrl('name')"
                        [error]="surveyFormMessageCtrl('name')">
            <el-input formControlName="name" [(model)]="surveyData.name"></el-input>
          </el-form-item>
          <!-- End: Name -->

          <!-- Start: Description -->
          <el-form-item label="Описание"
                        [required]="false"
                        [status]="surveyFormStatusCtrl('description')"
                        [error]="surveyFormMessageCtrl('description')">
            <el-input formControlName="description" [(model)]="surveyData.description"></el-input>
          </el-form-item>
          <!-- End: Description -->

          <!-- Start: Start date -->
          <el-form-item label="Дата начала"
                        [required]="true"
                        [status]="surveyFormStatusCtrl('from')"
                        [error]="surveyFormMessageCtrl('from')">
            <el-input formControlName="from" [(model)]="surveyData.from"></el-input>
          </el-form-item>
          <!-- End: Start date -->

          <!-- Start: End date -->
          <el-form-item label="Дата окончания"
                        [required]="false"
                        [status]="surveyFormStatusCtrl('to')"
                        [error]="surveyFormMessageCtrl('to')">
            <el-input formControlName="to" [(model)]="surveyData.to"></el-input>
          </el-form-item>
          <!-- End: End date -->

          <!-- Start: Reward -->
          <el-form-item *ngIf="rewardsService.getAvailableRewards().length !== 0"
                        label="Вознаграждение"
                        [required]="true">
            <el-select [(model)]="surveyData.reward_id" formControlName="reward_id" placeholder="Вознаграждение" *ngIf="rewardsService.getRewardsList().length > 0">
              <el-option *ngFor="let reward of rewardsService.getAvailableRewards()"
                         [label]="reward.title"
                         [value]="reward.id">
              </el-option>
            </el-select>
          </el-form-item>
          <!-- End: Reward -->

          <!-- Start: Pass count -->
          <el-form-item label="Кол-во прохождений"
                        [required]="true"
                        [status]="surveyFormStatusCtrl('available_passing_count')"
                        [error]="surveyFormMessageCtrl('available_passing_count')">
            <el-input formControlName="available_passing_count"
                      native-type="number"
                      el-class="no-spinners"
                      [(model)]="surveyData.available_passing_count">
            </el-input>
          </el-form-item>
          <!-- End: Pass count -->

          <!-- Start: Need client data first-->
          <el-form-item label="Спрашивать контакты">
            <el-radio-group [(model)]="surveyData.need_client_data_first" (modelChange)="changeNeedClientDataFirstStatus($event)">
              <el-radio formControlName="need_client_data_first" [label]="true">В начале</el-radio>
              <el-radio formControlName="need_client_data_first" [label]="false">В конце</el-radio>
            </el-radio-group>

          </el-form-item>
          <!-- End: Need client data first -->

          <!-- Start: Is template -->
          <!--
          <el-form-item label="Является шаблоном"
                        [required]="false"
                        [status]="surveyFormStatusCtrl('is_template')"
                        [error]="surveyFormMessageCtrl('is_template')">
            <el-checkbox formControlName="is_template" [(model)]="surveyData.is_template" (modelChange)="changeIsTemplateStatus($event)"></el-checkbox>
          </el-form-item>
          -->
          <!-- End: Is template -->
        </el-form>

        <!-- Start: Restaurants -->
        <div class="row">
          <div class="col-12 border-bottom">
            <h4 class="text-muted mb-3">Рестораны, участвующие в опросе</h4>

            <table class="table table-sm table-striped restaurants-table">
              <tbody>
              <tr *ngFor="let restaurant of restaurantsService.getRestaurants()">
                <td>{{ restaurant.title }}</td>
                <td class="text-right">
                  <el-checkbox [(model)]="restaurant.isSelected" (modelChange)="changeRestaurantsStatus($event, restaurant)"></el-checkbox>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
        <!-- End: Restaurants -->

        <!-- Start: Form controls -->
        <div class="row">
          <div class="col-12 mt-2 text-right">
            <el-button type="success"
                       icon="check"
                       [elDisabled]="surveyForm.invalid || surveyForm.pristine || restaurantIds.length === 0"
                       [loading]="surveysService.addingSurveyInProgress()"
                       (click)="editSurvey()">
              &nbsp; Сохранить
            </el-button>
            <el-button type="danger"
                       icon="close"
                       (click)="closeEditSurveyDialog()">
              &nbsp; Отмена
            </el-button>
          </div>
        </div>
        <!-- End: Form controls -->
      </div>
    </div>
  </div>
</el-dialog>
<!-- End: Edit survey dialog -->

<!-- Start: Edit question dialog -->
<el-dialog [(visible)]="isInEditQuestionMode" [width]="'580px'">
  <ng-template #title>
    <span class="el-icon-plus"></span>&nbsp;
    <span>Изменение вопроса</span>
  </ng-template>

  <div class="container-fluid" *ngIf="isInEditQuestionMode">
    <div class="row">
      <div class="col-12">
        <h4 class="text-muted mb-3">Информация о вопросе</h4>

        <el-form [formGroup]="questionForm"
                 label-width="170px"
                 [label-position]="'left'"
                 size="small"
                 [show-icon]="true"
                 [show-message]="true">

          <!-- Start: Title -->
          <el-form-item label="Текст вопроса"
                        [required]="true"
                        [status]="questionFormStatusCtrl('title')"
                        [error]="questionFormMessageCtrl('title')">
            <el-input formControlName="title" [(model)]="questionData.title"></el-input>
          </el-form-item>
          <!-- End: Title -->

          <!-- Start: Question type -->
          <el-form-item label="Тип вопроса"
                        [required]="true"
                        [status]="questionFormStatusCtrl('type')"
                        [error]="questionFormMessageCtrl('type')">
            <el-select [(model)]="questionData.type" (modelChange)="questionTypeChange($event)" formControlName="type" placeholder="Тип вопроса">
              <el-option *ngFor="let questionType of surveysService.getQuestionTypesList()"
                         [label]="questionType.title"
                         [value]="questionType.code">
              </el-option>
            </el-select>
          </el-form-item>
          <!-- End: Question type -->

          <!-- Start: Form type -->
          <el-form-item label="Форма вопроса"
                        [required]="true"
                        [status]="questionFormStatusCtrl('form_type')"
                        [error]="questionFormMessageCtrl('form_type')">
            <el-select [(model)]="questionFormData.type" (modelChange)="questionFormChange($event)" formControlName="form_type" placeholder="Тип формы вопроса">
              <el-option *ngFor="let formType of surveysService.getQuestionTypeByCode(questionData.type).forms"
                         [label]="formType.title"
                         [value]="formType.code">
              </el-option>
            </el-select>
          </el-form-item>
          <!-- End: Form type -->

          <!-- Start: Weight -->
          <el-form-item label="Вес вопроса"
                        [required]="true"
                        [status]="questionFormStatusCtrl('weight')"
                        [error]="questionFormMessageCtrl('weight')">
            <el-input formControlName="weight"
                      native-type="number"
                      el-class="no-spinners"
                      [(model)]="questionData.weight">
            </el-input>
          </el-form-item>
          <!-- End: Weight -->

        </el-form>

        <!-- Start: Answers -->
        <div class="row">
          <div class="col-12 border-bottom">
            <h4 class="text-muted mb-3 d-flex justify-content-between" *ngIf="answers.length > 0">
              Ответы
              <el-button type="text" size="mini" icon="plus" (click)="appendAnswer()" [size]="'small'">&nbsp; Добавить</el-button>
            </h4>

              <el-form [formGroup]="answerForm"
                       label-width="170px"
                       [label-position]="'left'"
                       size="small"
                       [show-icon]="true"
                       [show-message]="true">

                <!-- Start: Text content -->
                <el-form-item *ngFor="let answer of answers"
                              label-width="0"
                              [required]="true"
                              [status]="answerFormStatusCtrl('answer' + (answer.id !== 0 ? answer.id.toString() : answer.dateCreated.toString()))"
                              [error]="answerFormMessageCtrl('answer' + (answer.id !== 0 ? answer.id.toString() : answer.dateCreated.toString()))">
                  <div el-row gutter="20">
                    <div el-col span="16">
                      <el-input formControlName="{{'answer' + (answer.id !== 0 ? answer.id.toString() : answer.dateCreated.toString())}}"
                                [(model)]="answer.text_content"
                                placeholder="Текст ответа"></el-input>
                    </div>
                    <div el-col span="4">
                      <el-input  native-type="number"
                                 el-class="no-spinners"
                                 formControlName="{{'weight' + (answer.id !== 0 ? answer.id.toString() : answer.dateCreated.toString())}}"
                                 [(model)]="answer.weight"
                                  placeholder="Вес">
                      </el-input>
                    </div>
                    <div el-col span="4">
                        <el-button type="danger" icon="delete" (click)="removeAnswer(answer)"></el-button>
                    </div>
                  </div>
                </el-form-item>
                <!-- End: Text content -->

                <!-- Start: Range min -->
                <el-form-item *ngIf="questionFormData.type === 'mark'"
                              label="Мин. значение"
                              [required]="true"
                              [status]="answerFormStatusCtrl('range_min')"
                              [error]="answerFormMessageCtrl('range_min')">
                  <el-input formControlName="range_min"
                            native-type="number"
                            el-class="no-spinners"
                            [(model)]="rangeData.min">
                  </el-input>
                </el-form-item>
                <!-- End: Range min -->

                <!-- Start: Range max -->
                <el-form-item *ngIf="questionFormData.type === 'mark'"
                              label="Макс. значение"
                              [required]="true"
                              [status]="answerFormStatusCtrl('range_max')"
                              [error]="answerFormMessageCtrl('range_max')">
                  <el-input formControlName="range_max"
                            native-type="number"
                            el-class="no-spinners"
                            [(model)]="rangeData.max">
                  </el-input>
                </el-form-item>
                <!-- End: Range max -->
              </el-form>

          </div>
        </div>
        <!-- End: Answers -->

        <!-- Start: Form controls -->
        <div class="row">
          <div class="col-12 mt-2 text-right">
            <el-button type="success"
                       icon="check"
                       [elDisabled]="(questionForm.pristine && answerForm.pristine) || (questionForm.dirty && questionForm.invalid) || (answerForm.dirty && answerForm.invalid) || answers.length < minAnswers"
                       [loading]="surveysService.editingQuestionInProgress()"
                       (click)="editQuestion()">
              &nbsp; Сохранить
            </el-button>
            <el-button type="danger"
                       icon="close"
                       (click)="closeEditQuestionDialog()">
              &nbsp; Отмена
            </el-button>
          </div>
        </div>
        <!-- End: Form controls -->
      </div>
    </div>
  </div>
</el-dialog>
<!-- End: Edit question dialog -->

<!-- Start: Add question dialog -->
<el-dialog [(visible)]="isInAddQuestionMode" [width]="'580px'">
  <ng-template #title>
    <span class="el-icon-plus"></span>&nbsp;
    <span>Добавление вопроса</span>
  </ng-template>

  <div class="container-fluid" *ngIf="isInAddQuestionMode">
    <div class="row">
      <div class="col-12">
        <h4 class="text-muted mb-3">Информация о вопросе</h4>

        <el-form [formGroup]="questionForm"
                 label-width="170px"
                 [label-position]="'left'"
                 size="small"
                 [show-icon]="true"
                 [show-message]="true">

          <!-- Start: Title -->
          <el-form-item label="Текст вопроса"
                        [required]="true"
                        [status]="questionFormStatusCtrl('title')"
                        [error]="questionFormMessageCtrl('title')">
            <el-input formControlName="title" [(model)]="questionData.title"></el-input>
          </el-form-item>
          <!-- End: Title -->

          <!-- Start: Question type -->
          <el-form-item label="Тип вопроса"
                        [required]="true"
                        [status]="questionFormStatusCtrl('type')"
                        [error]="questionFormMessageCtrl('type')">
            <el-select [(model)]="questionData.type" (modelChange)="questionTypeChange($event)" formControlName="type" placeholder="Тип вопроса">
              <el-option *ngFor="let questionType of surveysService.getQuestionTypesList()"
                         [label]="questionType.title"
                         [value]="questionType.code">
              </el-option>
            </el-select>
          </el-form-item>
          <!-- End: Question type -->

          <!-- Start: Form type -->
          <el-form-item label="Форма вопроса"
                        [required]="true"
                        [status]="questionFormStatusCtrl('form_type')"
                        [error]="questionFormMessageCtrl('form_type')">
            <el-select [(model)]="questionFormData.type" (modelChange)="questionFormChange($event)" formControlName="form_type" placeholder="Тип формы вопроса">
              <el-option *ngFor="let formType of surveysService.getQuestionTypeByCode(questionData.type).forms"
                         [label]="formType.title"
                         [value]="formType.code">
              </el-option>
            </el-select>
          </el-form-item>
          <!-- End: Form type -->

          <!-- Start: Weight -->
          <el-form-item label="Вес вопроса"
                        [required]="true"
                        [status]="questionFormStatusCtrl('weight')"
                        [error]="questionFormMessageCtrl('weight')">
            <el-input formControlName="weight"
                      native-type="number"
                      el-class="no-spinners"
                      [(model)]="questionData.weight">
            </el-input>
          </el-form-item>
          <!-- End: Weight -->

        </el-form>

        <!-- Start: Answers -->
        <div class="row">
          <div class="col-12 border-bottom">
            <h4 class="text-muted mb-3 d-flex justify-content-between" *ngIf="answers.length > 0">
              Ответы
              <el-button type="text" size="mini" icon="plus" (click)="appendAnswer()" [size]="'small'">&nbsp; Добавить</el-button>
            </h4>

            <el-form [formGroup]="answerForm"
                     label-width="170px"
                     [label-position]="'left'"
                     size="small"
                     [show-icon]="true"
                     [show-message]="true">

              <!-- Start: Text content -->
              <el-form-item *ngFor="let answer of answers"
                            label-width="0"
                            [required]="true"
                            [status]="answerFormStatusCtrl('answer' + answer.dateCreated.toString())"
                            [error]="answerFormMessageCtrl('answer' + answer.dateCreated.toString())">
                <div el-row gutter="20">
                  <div el-col span="16">
                    <el-input formControlName="{{'answer' + answer.dateCreated.toString()}}"
                              [(model)]="answer.text_content"
                              placeholder="Текст ответа"></el-input>
                  </div>
                  <div el-col span="4">
                    <el-input  native-type="number"
                               el-class="no-spinners"
                               formControlName="{{'weight' + answer.dateCreated.toString()}}"
                               [(model)]="answer.weight"
                               placeholder="Вес">
                    </el-input>
                  </div>
                  <div el-col span="4">
                    <el-button type="danger" icon="delete" (click)="removeAnswer(answer)"></el-button>
                  </div>
                </div>
              </el-form-item>
              <!-- End: Text content -->

              <!-- Start: Range min -->
              <el-form-item *ngIf="questionFormData.type === 'mark'"
                            label="Мин. значение"
                            [required]="true"
                            [status]="answerFormStatusCtrl('range_min')"
                            [error]="answerFormMessageCtrl('range_min')">
                <el-input formControlName="range_min"
                          native-type="number"
                          el-class="no-spinners"
                          [(model)]="rangeData.min">
                </el-input>
              </el-form-item>
              <!-- End: Range min -->

              <!-- Start: Range max -->
              <el-form-item *ngIf="questionFormData.type === 'mark'"
                            label="Макс. значение"
                            [required]="true"
                            [status]="answerFormStatusCtrl('range_max')"
                            [error]="answerFormMessageCtrl('range_max')">
                <el-input formControlName="range_max"
                          native-type="number"
                          el-class="no-spinners"
                          [(model)]="rangeData.max">
                </el-input>
              </el-form-item>
              <!-- End: Range max -->
            </el-form>

          </div>
        </div>
        <!-- End: Answers -->

        <!-- Start: Form controls -->
        <div class="row">
          <div class="col-12 mt-2 text-right">
            <el-button type="success"
                       icon="check"
                       [elDisabled]="questionForm.invalid || answerForm.invalid || answers.length < minAnswers"
                       [loading]="surveysService.addingQuestionInProgress()"
                       (click)="addQuestion()">
              &nbsp; Сохранить
            </el-button>
            <el-button type="danger"
                       icon="close"
                       (click)="closeAddQuestionDialog()">
              &nbsp; Отмена
            </el-button>
          </div>
        </div>
        <!-- End: Form controls -->
      </div>
    </div>
  </div>
</el-dialog>
<!-- End: Add question dialog -->

<!-- Start: Delete question confirmation dialog -->
<el-dialog [(visible)]="isInDeleteQuestionMode" [width]="'400px'">
  <ng-template #title>
    <span class="el-icon-delete"></span>&nbsp;
    <span>Удаление вопроса</span>
  </ng-template>
  <div class="container-fluid" *ngIf="selectedQuestion">
    <div class="row">
      <div class="col-12">
        Удалить вопрос "{{ selectedQuestion.title }}"?
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <el-button type="success"
                   icon="check"
                   class="w-100"
                   [loading]="surveysService.deletingQuestionInProgress()"
                   (click)="deleteQuestion()">
          &nbsp; Удалить
        </el-button>
      </div>
      <div class="col-6">
        <el-button type="danger" icon="close" class="w-100" (click)="closeDeleteQuestionDialog()">&nbsp; Отмена</el-button>
      </div>
    </div>
  </div>
</el-dialog>
<!-- End: Delete question confirmation dialog -->
