<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-12">
      <el-button type="primary" icon="plus" (click)="openAddRestaurantDialog()">&nbsp; Добавить ресторан</el-button>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-12">
      <table class="restaurants-table table-hover w-100" *ngIf="restaurantsService.getRestaurants().length > 0">
        <thead>
        <tr>
          <th class="index p-3">#</th>
          <th class="p-3">Наименование</th>
          <th class="p-3">Адрес</th>
          <th class="controls"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let restaurant of restaurantsService.getRestaurants(); let i = index;">
          <td class="p-3">{{ i + 1 }}.</td>
          <td class="p-3">{{ restaurant.title }}</td>
          <td class="p-3">{{ restaurant.address.addressLabel }}</td>
          <td>
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 d-flex justify-content-between">
                  <el-button type="success" size="small" icon="edit" (click)="openEditRestaurantDialog(restaurant)">&nbsp; Изменить</el-button>
                  <el-button type="danger" size="small" icon="delete" (click)="openDeleteRestaurantDialog(restaurant)">&nbsp; Удалить</el-button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <!-- Start: No restaurants placeholder -->
      <div *ngIf="restaurantsService.getRestaurants().length === 0">
        <p class="text-muted text-center mt-4 pt-4">Рестораны отсутствуют</p>
      </div>
      <!-- End: No restaurants placeholder -->
    </div>
  </div>
</div>


<!-- Start: Add restaurant dialog -->
<el-dialog [(visible)]="isInAddRestaurantMode" [width]="'580px'">
  <ng-template #title>
    <span class="el-icon-plus"></span>&nbsp;
    <span>Добавление ресторана</span>
  </ng-template>

  <div class="container-fluid" *ngIf="isInAddRestaurantMode">
    <div class="row">
      <div class="col-12">

        <el-form [formGroup]="restaurantForm"
                 label-width="170px"
                 [label-position]="'left'"
                 size="small"
                 [show-icon]="true"
                 [show-message]="true">

          <!-- Start: Restaurant information -->
          <div class="row">
            <div class="col-12 border-bottom">
              <h4 class="text-muted mb-3">Информация о ресторане</h4>

              <!-- Start: Name -->
              <el-form-item label="Наименование"
                            [required]="true"
                            [status]="restaurantFormStatusCtrl('name')"
                            [error]="restaurantFormMessageCtrl('name')">
                <el-input formControlName="name" [(model)]="restaurantData.name"></el-input>
              </el-form-item>
              <!-- End: Name -->

              <!-- Start: Phone -->
              <el-form-item label="Телефон"
                            [status]="restaurantFormStatusCtrl('phone')"
                            [error]="restaurantFormMessageCtrl('phone')">
                <el-input formControlName="phone" [(model)]="restaurantData.phone"></el-input>
              </el-form-item>
              <!-- End: Phone -->

              <!-- Start: Site -->
              <el-form-item label="Сайт"
                            [status]="restaurantFormStatusCtrl('site')"
                            [error]="restaurantFormMessageCtrl('site')">
                <el-input formControlName="site" [(model)]="restaurantData.site"></el-input>
              </el-form-item>
              <!-- End: Site -->
            </div>
          </div>
          <!-- End: Restaurant information -->

          <!-- Start: Restaurant address -->
          <div class="row pt-3">
            <div class="col-12 border-bottom">
              <h4 class="text-muted mb-3">Адрес</h4>

              <!-- Start: City -->
              <el-form-item label="Город"
                            [required]="true"
                            [status]="restaurantFormStatusCtrl('city')"
                            [error]="restaurantFormMessageCtrl('city')">
                <el-input formControlName="city" [(model)]="addressData.city"></el-input>
              </el-form-item>
              <!-- End: City -->

              <!-- Start: Street -->
              <el-form-item label="Улица"
                            [required]="true"
                            [status]="restaurantFormStatusCtrl('street')"
                            [error]="restaurantFormMessageCtrl('street')">
                <el-input formControlName="street" [(model)]="addressData.street"></el-input>
              </el-form-item>
              <!-- End: Street -->

              <!-- Start: Building -->
              <el-form-item label="Дом"
                            [required]="true"
                            [status]="restaurantFormStatusCtrl('building_number')"
                            [error]="restaurantFormMessageCtrl('building_number')">
                <el-input formControlName="building_number" [(model)]="addressData.building_number" (blur)="onBlur()"></el-input>
              </el-form-item>
              <!-- End: Building -->
            </div>
          </div>
          <!-- End: Restaurant address -->

          <!-- Start: Timetable-->
          <div class="row pt-3">
            <div class="col-12 border-bottom">
              <h4 class="text-muted mb-3">Расписание работы</h4>

              <!-- Start: From -->
              <el-form-item label="Начало работы"
                            [required]="true"
                            [status]="restaurantFormStatusCtrl('from')"
                            [error]="restaurantFormMessageCtrl('from')">
                <el-input formControlName="from" [(model)]="timeTableData.from"></el-input>
              </el-form-item>
              <!-- End: From -->

              <!-- Start: To -->
              <el-form-item label="Окончание работы"
                            [hidden]="timeTableData.until_last_client"
                            [required]="!timeTableData.until_last_client ? true : false"
                            [status]="restaurantFormStatusCtrl('to')"
                            [error]="restaurantFormMessageCtrl('to')">
                <el-input formControlName="to" [(model)]="timeTableData.to"></el-input>
              </el-form-item>
              <!-- End: To -->

              <!-- Start: Until last client -->
              <el-form-item label="До последнего клиента"
                            [status]="restaurantFormStatusCtrl('until_last_client')"
                            [error]="restaurantFormMessageCtrl('until_last_client')">
                <el-switch type="primary" [(model)]="timeTableData.until_last_client" (modelChange)="onChangeUntilLastClient($event)"></el-switch>
              </el-form-item>
              <!-- End: Until last client -->
            </div>
          </div>
          <!-- End: Timetable -->

          <!-- Start: Social networks -->
          <div class="row pt-3">
            <div class="col-12 border-bottom social-networks">
              <div class="d-flex justify-content-between mb-3">
                <h4 class="text-muted mb-3">Социальные сети</h4>
                <el-button type="text" size="mini" icon="plus" (click)="appendSocialNetwork()" [size]="'small'">&nbsp; Добавить</el-button>
              </div>
              <div el-row *ngIf="socialNetworksData.length === 0">
                <div el-col span="24" class="text-center text-muted pl-4 pr-4 pb-4">Социальные сети отсутствуют</div>
              </div>

              <div *ngFor="let network of socialNetworksData">

                <div el-row *ngIf="socialNetworksData.length !== 0">
                  <div el-col span="8">
                    <el-form-item [required]="true"
                                  label-width="0"
                                  [status]="restaurantFormStatusCtrl('socialNetworkType' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString()))"
                                  [error]="restaurantFormMessageCtrl('socialNetworkType' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString()))">
                      <el-select [(model)]="network.network_type" formControlName="{{'socialNetworkType' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString())}}" placeholder="Соц. сеть">
                        <el-option *ngFor="let socType of restaurantsService.getSocialNetworkTypes()"
                                   [label]="socType.title"
                                   [value]="socType.code">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div el-col span="12">
                    <el-form-item [required]="true" label-width="0"
                                  [status]="restaurantFormStatusCtrl('socialNetworkUrl' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString()))"
                                  [error]="restaurantFormMessageCtrl('socialNetworkUrl' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString()))">
                      <el-input formControlName="{{'socialNetworkUrl' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString())}}" [(model)]="network.url"></el-input>
                    </el-form-item>
                  </div>
                  <div el-col span="4" align="right">
                    <el-form-item label-width="0">
                      <el-button type="danger" icon="delete" (click)="removeSocialNetwork(network)"></el-button>
                    </el-form-item>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- End: Social networks -->

          <!-- Start: R-Keeper config -->
          <div class="row pt-3">
            <div class="col-12 border-bottom">
              <h4 class="text-muted mb-3">Конфигурация R-Keeper</h4>

              <!-- Start: R-Keeper id -->
              <el-form-item label="Идентификатор"
                            *ngIf="restaurantData.rKeeperConfig"
                            [required]="false"
                            [status]="restaurantFormStatusCtrl('config')"
                            [error]="restaurantFormMessageCtrl('config')">
                <el-input native-type="number"
                          class="no-spinners"
                          formControlName="config"
                          [(model)]="restaurantData.rKeeperConfig.id">
                </el-input>
              </el-form-item>
              <!-- End: R-Keeper id -->
            </div>
          </div>
          <!-- End: R-Keeper config -->

        </el-form>

        <!-- Start: Form controls -->
        <div class="row">
          <div class="col-12 mt-2 text-right">
            <el-button type="success"
                       icon="check"
                       [elDisabled]="restaurantForm.invalid || restaurantsService.addingRestaurantInProgress()"
                       [loading]="restaurantsService.addingRestaurantInProgress()"
                       (click)="addRestaurant()">
              &nbsp; Сохранить
            </el-button>
            <el-button type="danger"
                       icon="close"
                       [elDisabled]="restaurantsService.addingRestaurantInProgress()"
                       (click)="closeEditRestaurantDialog()">
              &nbsp; Отмена
            </el-button>
          </div>
        </div>
        <!-- End: Form controls -->
      </div>
    </div>
  </div>
</el-dialog>
<!-- End: Add restaurant dialog -->

<!-- Start: Edit restaurant dialog -->
<el-dialog [(visible)]="isInEditRestaurantMode" [width]="'580px'">
  <ng-template #title>
    <span class="el-icon-edit"></span>&nbsp;
    <span>Изменение ресторана</span>
  </ng-template>

  <div class="container-fluid" *ngIf="isInEditRestaurantMode">
    <div class="row">
      <div class="col-12">
        <el-form [formGroup]="restaurantForm"
                 label-width="170px"
                 [label-position]="'left'"
                 size="small"
                 [show-icon]="true"
                 [show-message]="true">

          <!-- Start: Restaurant information -->
          <div class="row">
            <div class="col-12 border-bottom">
              <h4 class="text-muted mb-3">Информация о ресторане</h4>

              <!-- Start: Name -->
              <el-form-item label="Наименование"
                            [required]="true"
                            [status]="restaurantFormStatusCtrl('name')"
                            [error]="restaurantFormMessageCtrl('name')">
                <el-input formControlName="name" [(model)]="restaurantData.name"></el-input>
              </el-form-item>
              <!-- End: Name -->

              <!-- Start: Phone -->
              <el-form-item label="Телефон"
                            [status]="restaurantFormStatusCtrl('phone')"
                            [error]="restaurantFormMessageCtrl('phone')">
                <el-input formControlName="phone" [(model)]="restaurantData.phone"></el-input>
              </el-form-item>
              <!-- End: Phone -->

              <!-- Start: Site -->
              <el-form-item label="Сайт"
                            [status]="restaurantFormStatusCtrl('site')"
                            [error]="restaurantFormMessageCtrl('site')">
                <el-input formControlName="site" [(model)]="restaurantData.site"></el-input>
              </el-form-item>
              <!-- End: Site -->
            </div>
          </div>
          <!-- End: Restaurant information -->

          <!-- Start: Restaurant address -->
          <div class="row pt-3">
            <div class="col-12 border-bottom">
              <h4 class="text-muted mb-3">Адрес</h4>

              <!-- Start: City -->
              <el-form-item label="Город"
                            [required]="true"
                            [status]="restaurantFormStatusCtrl('city')"
                            [error]="restaurantFormMessageCtrl('city')">
                <el-input formControlName="city" [(model)]="addressData.city"></el-input>
              </el-form-item>
              <!-- End: City -->

              <!-- Start: Street -->
              <el-form-item label="Улица"
                            [required]="true"
                            [status]="restaurantFormStatusCtrl('street')"
                            [error]="restaurantFormMessageCtrl('street')">
                <el-input formControlName="street" [(model)]="addressData.street"></el-input>
              </el-form-item>
              <!-- End: Street -->

              <!-- Start: Building -->
              <el-form-item label="Дом"
                            [required]="true"
                            [status]="restaurantFormStatusCtrl('building_number')"
                            [error]="restaurantFormMessageCtrl('building_number')">
                <el-input formControlName="building_number" [(model)]="addressData.building_number"></el-input>
              </el-form-item>
              <!-- End: Building -->
            </div>
          </div>
          <!-- End: Restaurant address -->

          <!-- Start: Timetable-->
          <div class="row pt-3">
            <div class="col-12 border-bottom">
              <h4 class="text-muted mb-3">Расписание работы</h4>

              <!-- Start: From -->
              <el-form-item label="Начало работы"
                            [required]="true"
                            [status]="restaurantFormStatusCtrl('from')"
                            [error]="restaurantFormMessageCtrl('from')">
                <el-input formControlName="from" [(model)]="timeTableData.from"></el-input>
              </el-form-item>
              <!-- End: From -->

              <!-- Start: To -->
              <el-form-item label="Окончание работы"
                            [hidden]="timeTableData.until_last_client"
                            [required]="!timeTableData.until_last_client ? true : false"
                            [status]="restaurantFormStatusCtrl('to')"
                            [error]="restaurantFormMessageCtrl('to')">
                <el-input formControlName="to" [(model)]="timeTableData.to"></el-input>
              </el-form-item>
              <!-- End: To -->

              <!-- Start: Until last client -->
              <el-form-item label="До последнего клиента"
                            [status]="restaurantFormStatusCtrl('until_last_client')"
                            [error]="restaurantFormMessageCtrl('until_last_client')">
                <el-switch type="primary" [(model)]="timeTableData.until_last_client" (modelChange)="onChangeUntilLastClient($event)"></el-switch>
              </el-form-item>
              <!-- End: Until last client -->
            </div>
          </div>
          <!-- End: Timetable -->

          <!-- Start: Social networks -->
          <div class="row pt-3">
            <div class="col-12 border-bottom social-networks">
              <div class="d-flex justify-content-between mb-3">
                <h4 class="text-muted mb-3">Социальные сети</h4>
                <el-button type="text" size="mini" icon="plus" (click)="appendSocialNetwork()" [size]="'small'">&nbsp; Добавить</el-button>
              </div>
              <div el-row *ngIf="socialNetworksData.length === 0">
                <div el-col span="24" class="text-center text-muted pl-4 pr-4 pb-4">Социальные сети отсутствуют</div>
              </div>

              <div *ngFor="let network of socialNetworksData">

                <div el-row *ngIf="socialNetworksData.length !== 0">
                  <div el-col span="8">
                    <el-form-item [required]="true"label-width="0"
                                  [status]="restaurantFormStatusCtrl('socialNetworkType' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString()))"
                                  [error]="restaurantFormMessageCtrl('socialNetworkType' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString()))">
                      <el-select [(model)]="network.network_type" formControlName="{{'socialNetworkType' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString())}}" placeholder="Соц. сеть">
                        <el-option *ngFor="let socType of restaurantsService.getSocialNetworkTypes()"
                                   [label]="socType.title"
                                   [value]="socType.code">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </div>
                  <div el-col span="12">
                    <el-form-item [required]="true" label-width="0"
                                  [status]="restaurantFormStatusCtrl('socialNetworkUrl' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString()))"
                                  [error]="restaurantFormMessageCtrl('socialNetworkUrl' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString()))">
                      <el-input formControlName="{{'socialNetworkUrl' + (network.id !== 0 ? network.id.toString() : network.timeCreated.toString())}}" [(model)]="network.url"></el-input>
                    </el-form-item>
                  </div>
                  <div el-col span="4" align="right">
                    <el-form-item label-width="0">
                      <el-button type="danger" icon="delete" (click)="removeSocialNetwork(network)"></el-button>
                    </el-form-item>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- End: Social networks -->

          <!-- Start: R-Keeper config -->
          <div class="row pt-3">
            <div class="col-12 border-bottom">
              <h4 class="text-muted mb-3">Конфигурация R-Keeper</h4>

              <!-- Start: Name -->
              <el-form-item label="Идентификатор"
                            [required]="false"
                            [status]="restaurantFormStatusCtrl('config')"
                            [error]="restaurantFormMessageCtrl('config')">
                <el-input formControlName="config" [(model)]="restaurantData.rKeeperConfig.id"></el-input>
              </el-form-item>
              <!-- End: Name -->
            </div>
          </div>
          <!-- End: R-Keeper config -->
        </el-form>

        <!-- Start: Form controls -->
        <div class="row">
          <div class="col-12 mt-2 text-right">
            <el-button type="success"
                       icon="check"
                       [elDisabled]="restaurantForm.invalid || restaurantForm.pristine || restaurantsService.editingRestaurantInProgress()"
                       [loading]="restaurantsService.editingRestaurantInProgress()"
                       (click)="editRestaurant()">
              &nbsp; Сохранить
            </el-button>
            <el-button type="danger"
                       icon="close"
                       [elDisabled]="restaurantsService.editingRestaurantInProgress()"
                       (click)="closeEditRestaurantDialog()">
              &nbsp; Отмена
            </el-button>
          </div>
        </div>
        <!-- End: Form controls -->
      </div>
    </div>
  </div>
</el-dialog>
<!-- End: Edit restaurant dialog -->

<!-- Start: Delete restaurant confirmation dialog -->
<el-dialog [(visible)]="isInDeleteRestaurantMode" [width]="'400px'">
  <ng-template #title>
    <span class="el-icon-delete"></span>&nbsp;
    <span>Удаление ресторана</span>
  </ng-template>
  <div class="container-fluid" *ngIf="selectedRestaurant">
    <div class="row">
      <div class="col-12">
        Удалить ресторан {{ selectedRestaurant.title }}?
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <el-button type="success"
                   icon="check"
                   class="w-100"
                   [loading]="restaurantsService.deletingRestaurantInProgress()"
                   [elDisabled]="restaurantsService.deletingRestaurantInProgress()"
                   (click)="deleteRestaurant()">
          &nbsp; Удалить
        </el-button>
      </div>
      <div class="col-6">
        <el-button type="danger"
                   icon="close"
                   class="w-100"
                   [elDisabled]="restaurantsService.deletingRestaurantInProgress()"
                   (click)="closeDeleteRestaurantDialog()">
          &nbsp; Отмена
        </el-button>
      </div>
    </div>
  </div>
</el-dialog>
<!-- End: Delete restaurant confirmation dialog -->
