<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <el-button type="primary" icon="plus" (click)="openAddUserDialog()">&nbsp; Добавить сотрудника</el-button>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-12">
      <el-table [model]="usersService.getUserList()" [stripe]="true" *ngIf="usersService.getUserList().length !== 0">
        <el-table-column model-key="fio" label="ФИО"></el-table-column>
        <!--<el-table-column model-key="date" label="Статус" width="140"></el-table-column>-->
        <el-table-column model-key="roles" label="Роль"></el-table-column>
        <el-table-column model-key="email" label="E-mail"></el-table-column>
        <el-table-column>
          <ng-template #slot let-scope="scope">
            <div class="text-right">
              <el-button type="success" size="small" icon="edit" (click)="handle(scope)">&nbsp; Изменить</el-button>
              <el-button type="danger" size="small" icon="delete" (click)="handle(scope)">&nbsp; Удалить</el-button>
            </div>
          </ng-template>
        </el-table-column>
      </el-table>

      <!-- Start: No users placeholder -->
      <div *ngIf="usersService.getUserList().length === 0">
        <p class="text-muted text-center mt-4 pt-4">Пользователи отсутствуют</p>
      </div>
      <!-- End: No users placeholder -->
    </div>
  </div>
</div>


<el-dialog [(visible)]="addUserMode">
  <ng-template #title>
    <span>Новый сотрудник</span>
  </ng-template>
  <div class="container-fluid">
    content
  </div>
  <ng-template #footer>
    <el-button type="success" (click)="card.toggle2 = false">Добавить</el-button>
    <el-button type="danger" (click)="closeAddUserDialog()">Отмена</el-button>
  </ng-template>
</el-dialog>
