$log-in-wrapper-bg-color: #F5F5F5;
$log-in-container-width: 350px;

.log-in-wrapper {
  background: $log-in-wrapper-bg-color;

  .log-in-container {
    width: $log-in-container-width;
  }
}

.auth-form-row {

}

