<div id="company" class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-6 p-4 d-flex flex-column align-items-center border-right">
      <h3 class="mb-4 align-self-start">О компании</h3>

      <table class="table table-sm w-75 mt-4">
        <tbody>
        <tr>
          <th scope="row">Наименование</th>
          <td>{{ companyService.getCompany().title }}</td>
        </tr>
        <tr>
          <th scope="row">Телефон</th>
          <td>
            <span *ngIf="companyService.getCompany().phone">{{ companyService.getCompany().phone }}</span>
            <span *ngIf="!companyService.getCompany().phone" class="text-muted">Не указан</span>
          </td>
        </tr>
        <tr>
          <th scope="row">Сайт</th>
          <td>
            <span *ngIf="companyService.getCompany().www">
              <a href="{{ companyService.getCompany().www }}">{{ companyService.getCompany().www }}</a>
            </span>
            <span *ngIf="!companyService.getCompany().www" class="text-muted">Не указан</span>
          </td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td class="pt-4 text-right">
            <el-button type="primary" icon="edit" (click)="openEditCompanyDialog()">&nbsp; Изменить</el-button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6 p-4">
      <h3 class="mb-4">Платежные реквизиты</h3>
    </div>
  </div>
</div>




<el-dialog [title]="'Изменение данных о компании'" [(visible)]="isInEditCompanyMode">
  <el-form [formGroup]="editCompanyForm" label-width="150px" size="small"
           [show-icon]="true" [show-message]="true">

    <el-form-item label="Наименование" [required]="true"
                  [status]="statusCtrl('title')" [error]="messageCtrl('title')">
      <el-input formControlName="title"></el-input>
    </el-form-item>

    <el-form-item label="Телефон" [required]="true"
                  [status]="statusCtrl('phone')" [error]="messageCtrl('phone')">
      <el-input formControlName="phone"></el-input>
    </el-form-item>

    <el-form-item label="Сайт" [required]="true"
                  [status]="statusCtrl('www')" [error]="messageCtrl('www')">
      <el-input formControlName="www"></el-input>
    </el-form-item>

    <el-form-item>
      <div class="text-right">
        <el-button type="success" (click)="submit()">Сохранить</el-button>
        <el-button type="danger" (click)="cancel()">Отмена</el-button>
      </div>
    </el-form-item>

  </el-form>
</el-dialog>
