<div id="company" class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-12 col-lg-6 p-4 d-flex flex-column align-items-center">
      <h3 class="mb-4 w-100 d-flex justify-content-between">
        О компании
        <el-button type="primary" icon="edit" (click)="openEditCompanyDialog()">&nbsp; Изменить</el-button>
      </h3>

      <table class="table table-sm mt-4">
        <tbody>
        <tr>
          <th scope="row">Наименование</th>
          <td>{{ companyService.getCompany().title }}</td>
        </tr>
        <tr>
          <th scope="row">Телефон</th>
          <td>
            <span *ngIf="companyService.getCompany().phone">{{ companyService.getCompany().phone }}</span>
            <span *ngIf="!companyService.getCompany().phone" class="text-muted">Не указан</span>
          </td>
        </tr>
        <tr>
          <th scope="row">Сайт</th>
          <td>
            <span *ngIf="companyService.getCompany().www">
              <a href="{{ companyService.getCompany().www }}">{{ companyService.getCompany().www }}</a>
            </span>
            <span *ngIf="!companyService.getCompany().www" class="text-muted">Не указан</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Start: Payment requisites -->
    <div class="col--12 col-lg-6 p-4 border-left">

      <!-- Start: Header -->
      <h3 class="mb-4 d-flex justify-content-between">
        Платежные реквизиты
        <el-button type="primary" icon="plus" (click)="openAddPaymentRequisitesDialog()">&nbsp; Добавить</el-button>
      </h3>
      <!-- End: Header -->

      <!-- Start: No requisites placeholder -->
      <div *ngIf="companyService.getCompany().paymentRequisites.length === 0">
        <p class="text-muted text-center mt-4 pt-4">Реквизиты отсутствуют</p>
      </div>
      <!-- End: No requisites placeholder -->

      <!-- Start: Requisites-->
      <div class="container-fluid payment-requisites pl-0 pr-0">
        <div class="row mt-4">
          <div class="col-12 col-xl-6 mb-3" *ngFor="let item of companyService.getCompany().paymentRequisites">
            <el-card>
              <ng-template #header>
                <div class="clearfix text-center">
                  <span style="line-height: 36px;" class="text-muted">
                    <strong>{{ item.businessTitle }}</strong>
                  </span>
                </div>
              </ng-template>
              <div class="text item">
                <table class="table table-sm mb-0">
                  <tbody>
                  <tr>
                    <td class="text-muted text-right border-top-0" style="width: 80px">ИНН</td>
                    <td class="border-top-0">{{ item.INN }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted text-right">КПП</td>
                    <td>{{ item.KPP }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted text-right">Юр. адрес</td>
                    <td>{{ item.businessAddress }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted text-right">Физ. адрес</td>
                    <td>{{ item.address }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted text-right">Расч. счет</td>
                    <td>{{ item.account }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted text-right">Корр. счет</td>
                    <td>{{ item.correspondingAccount }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted text-right">БИК</td>
                    <td>{{ item.BIK }}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="">

                    </td>
                  </tr>
                  </tbody>
                </table>

                <div class="footer">
                  <div class="container-fluid p-0">
                    <div class="row">
                      <div class="col-6">
                        <el-button type="success" size="small" icon="edit" class="w-100" (click)="openEditPaymentsRequisitesDialog(item)">&nbsp; Изменить</el-button>
                      </div>
                      <div class="col-6">
                        <el-button type="danger" size="small" icon="delete" class="w-100" (click)="openDeletePaymentRequisitesDialog(item)">&nbsp; Удалить</el-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </el-card>
          </div>
        </div>
      </div>
      <!-- End: Requisites -->
    </div>
    <!-- End: Payment requisites -->

  </div>
</div>



<!-- Start: Edit company dialog -->
<el-dialog [(visible)]="isInEditCompanyMode"
           [width]="'450px'">
  <ng-template #title>
    <span class="el-icon-edit"></span>&nbsp;
    <span>Изменение данных о компании</span>
  </ng-template>

  <el-form [formGroup]="editCompanyForm"
           label-width="130px"
           [label-position]="'left'"
           size="small"
           [show-icon]="true"
           [show-message]="true">

    <el-form-item label="Наименование"
                  [required]="true"
                  [status]="editCompanyFormStatusCtrl('title')"
                  [error]="editCompanyFormMessageCtrl('title')">
      <el-input formControlName="title" [(model)]="companyData.name"></el-input>
    </el-form-item>

    <el-form-item label="Телефон"
                  [status]="editCompanyFormStatusCtrl('phone')"
                  [error]="editCompanyFormMessageCtrl('phone')">
      <el-input formControlName="phone" [(model)]="companyData.phone"></el-input>
    </el-form-item>

    <el-form-item label="Сайт"
                  [status]="editCompanyFormStatusCtrl('www')"
                  [error]="editCompanyFormMessageCtrl('www')">
      <el-input formControlName="www" [(model)]="companyData.site"></el-input>
    </el-form-item>

    <el-form-item>
      <div class="">
        <el-button type="success"
                   icon="check"
                   [elDisabled]="editCompanyForm.invalid || editCompanyForm.pristine"
                   [loading]="companyService.editingCompanyInProgress()"
                   (click)="editCompany()">
          &nbsp; Сохранить
        </el-button>
        <el-button type="danger"
                   icon="close"
                   (click)="closeEditCompanyDialog()">
          &nbsp; Отмена
        </el-button>
      </div>
    </el-form-item>

  </el-form>
</el-dialog>
<!-- End: Edit company dialog -->


<!-- Start: Add payment requisites dialog -->
<el-dialog [(visible)]="isInAddPaymentRequisitesMode"
           [width]="'550px'">
  <ng-template #title>
    <span class="el-icon-plus"></span>&nbsp;
    <span>Добавление платежных реквизитов</span>
  </ng-template>

  <el-form [formGroup]="addPaymentRequisitesForm"
           label-width="200px"
           [label-position]="'left'"
           size="small"
           [show-icon]="true"
           [show-message]="true" #form>

    <el-form-item label="Наименование"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('name')"
                  [error]="addPaymentRequisitesFormMessageCtrl('name')">
      <el-input formControlName="name" [(model)]="paymentRequisitesData.name"></el-input>
    </el-form-item>

    <!-- Start: INN -->
    <el-form-item label="ИНН"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('inn')"
                  [error]="addPaymentRequisitesFormMessageCtrl('inn')">
      <el-input formControlName="inn"
                native-type="number"
                el-class="no-spinners"
                [(model)]="paymentRequisitesData.inn">
      </el-input>
    </el-form-item>
    <!-- End: INN -->

    <!-- Start: KPP -->
    <el-form-item label="КПП"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('kpp')"
                  [error]="addPaymentRequisitesFormMessageCtrl('kpp')">
      <el-input formControlName="kpp"
                native-type="number"
                el-class="no-spinners"
                [(model)]="paymentRequisitesData.kpp">
      </el-input>
    </el-form-item>
    <!-- End: KPP -->

    <!-- Start: Business address -->
    <el-form-item label="Юридический адрес"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('legal_address')"
                  [error]="addPaymentRequisitesFormMessageCtrl('legal_address')">
      <el-input formControlName="legal_address" [(model)]="paymentRequisitesData.legal_address"></el-input>
    </el-form-item>
    <!-- End: Business address -->

    <!-- Start: Actual address -->
    <el-form-item label="Физический адрес">
      <el-input formControlName="actual_address" [(model)]="paymentRequisitesData.actual_address"></el-input>
    </el-form-item>
    <!-- End: Actual address -->

    <!-- Start: Bank title -->
    <el-form-item label="Наименование банка"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('bank_name')"
                  [error]="addPaymentRequisitesFormMessageCtrl('bank_name')">
      <el-input formControlName="bank_name" [(model)]="paymentRequisitesData.bank_name"></el-input>
    </el-form-item>
    <!-- End: Bank title -->

    <!-- Start: Account -->
    <el-form-item label="Расчетный счет"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('checking_account')"
                  [error]="addPaymentRequisitesFormMessageCtrl('checking_account')">
      <el-input formControlName="checking_account"
                native-type="number"
                el-class="no-spinners"
                [(model)]="paymentRequisitesData.checking_account">
      </el-input>
    </el-form-item>
    <!-- End: Account -->

    <!-- Start: Corresponding account -->
    <el-form-item label="Корреспондентский счет"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('correspondent_account')"
                  [error]="addPaymentRequisitesFormMessageCtrl('correspondent_account')">
      <el-input formControlName="correspondent_account"
                native-type="number"
                el-class="no-spinners"
                [(model)]="paymentRequisitesData.correspondent_account">
      </el-input>
    </el-form-item>
    <!-- End: Corresponding account -->

    <!-- Start: BIK -->
    <el-form-item label="БИК"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('bik')"
                  [error]="addPaymentRequisitesFormMessageCtrl('bik')">
      <el-input formControlName="bik"
                native-type="number"
                el-class="no-spinners"
                [(model)]="paymentRequisitesData.bik">
      </el-input>
    </el-form-item>
    <!-- End: BIK -->

    <!-- Start: Form controls -->
    <el-form-item>
      <div class="mt-2">
        <el-button type="success"
                   icon="check"
                   [elDisabled]="addPaymentRequisitesForm.invalid || addPaymentRequisitesForm.pristine"
                   [loading]="companyService.addingPaymentRequisitesInProgress()"
                   (click)="addPaymentRequisites()">
          &nbsp; Сохранить
        </el-button>
        <el-button type="danger"
                   icon="close"
                   (click)="closeAddPaymentRequisitesDialog()">
          &nbsp; Отмена
        </el-button>
      </div>
    </el-form-item>
    <!-- End: Form controls -->

  </el-form>
</el-dialog>
<!-- End: Add payment requisites dialog -->


<!-- Start: Edit payment requisites dialog -->
<el-dialog [(visible)]="isInEditPaymentRequisitesMode"
           [width]="'550px'">
  <ng-template #title>
    <span class="el-icon-edit"></span>&nbsp;
    <span>Изменение платежных реквизитов</span>
  </ng-template>

  <el-form [formGroup]="addPaymentRequisitesForm"
           label-width="200px"
           [label-position]="'left'"
           size="small"
           [show-icon]="true"
           [show-message]="true" #form>

    <el-form-item label="Наименование"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('name')"
                  [error]="addPaymentRequisitesFormMessageCtrl('name')">
      <el-input formControlName="name" [(model)]="paymentRequisitesData.name"></el-input>
    </el-form-item>

    <el-form-item label="ИНН"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('inn')"
                  [error]="addPaymentRequisitesFormMessageCtrl('inn')">
      <el-input formControlName="inn" native-type="number" el-class="no-spinners" [(model)]="paymentRequisitesData.inn"></el-input>
    </el-form-item>

    <el-form-item label="КПП"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('kpp')"
                  [error]="addPaymentRequisitesFormMessageCtrl('kpp')">
      <el-input formControlName="kpp" native-type="number" el-class="no-spinners" [(model)]="paymentRequisitesData.kpp"></el-input>
    </el-form-item>

    <el-form-item label="Юридический адрес"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('legal_address')"
                  [error]="addPaymentRequisitesFormMessageCtrl('legal_address')">
      <el-input formControlName="legal_address" [(model)]="paymentRequisitesData.legal_address"></el-input>
    </el-form-item>

    <el-form-item [required]="isInEditPaymentRequisitesMode"
                  label="Физический адрес"
                  [status]="isInEditPaymentRequisitesMode ? addPaymentRequisitesFormStatusCtrl('actual_address') : null"
                  [error]="isInEditPaymentRequisitesMode ? addPaymentRequisitesFormMessageCtrl('actual_address') : null">
      <el-input formControlName="actual_address"
                [(model)]="paymentRequisitesData.actual_address"
                ></el-input>
    </el-form-item>

    <el-form-item label="Наименование банка"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('bank_name')"
                  [error]="addPaymentRequisitesFormMessageCtrl('bank_name')">
      <el-input formControlName="bank_name" [(model)]="paymentRequisitesData.bank_name"></el-input>
    </el-form-item>

    <el-form-item label="Расчетный счет"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('checking_account')"
                  [error]="addPaymentRequisitesFormMessageCtrl('checking_account')">
      <el-input formControlName="checking_account" native-type="number" el-class="no-spinners" [(model)]="paymentRequisitesData.checking_account"></el-input>
    </el-form-item>

    <el-form-item label="Корреспондентский счет"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('correspondent_account')"
                  [error]="addPaymentRequisitesFormMessageCtrl('correspondent_account')">
      <el-input formControlName="correspondent_account" native-type="number" el-class="no-spinners" [(model)]="paymentRequisitesData.correspondent_account"></el-input>
    </el-form-item>

    <el-form-item label="БИК"
                  [required]="true"
                  [status]="addPaymentRequisitesFormStatusCtrl('bik')"
                  [error]="addPaymentRequisitesFormMessageCtrl('bik')">
      <el-input formControlName="bik" native-type="number" el-class="no-spinners" [(model)]="paymentRequisitesData.bik"></el-input>
    </el-form-item>

    <el-form-item>
      <div class="mt-2">
        <el-button type="success"
                   icon="check"
                   [elDisabled]="addPaymentRequisitesForm.invalid || addPaymentRequisitesForm.pristine"
                   [loading]="companyService.editingCompanyInProgress()"
                   (click)="editPaymentRequisites()">
          &nbsp; Сохранить
        </el-button>
        <el-button type="danger"
                   icon="close"
                   (click)="closeEditPaymentRequisitesDialog()">
          &nbsp; Отмена
        </el-button>
      </div>
    </el-form-item>

  </el-form>
</el-dialog>
<!-- End: Edit payment requisites dialog -->

<!-- Start: Delete payment requisites confirmation dialog -->
<el-dialog [(visible)]="isInDeletePaymentRequisitesMode" [width]="'400px'">
  <ng-template #title>
    <span class="el-icon-delete"></span>&nbsp;
    <span>Удаление платежных реквизитов</span>
  </ng-template>
  <div class="container-fluid" *ngIf="selectedPaymentRequisites">
    <div class="row">
      <div class="col-12">
        Удалить платежные реквизиты {{ selectedPaymentRequisites.businessTitle }}?
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <el-button type="success" icon="check" class="w-100" (click)="deletePaymentRequisites()">&nbsp; Удалить</el-button>
      </div>
      <div class="col-6">
        <el-button type="danger" icon="close" class="w-100"  (click)="closeDeletePaymentRequisitesDialog()">&nbsp; Отмена</el-button>
      </div>
    </div>
  </div>
</el-dialog>
<!-- End: Delete payment requisites confirmation dialog -->
